html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 20px;
}

#map {
  height: 80%;
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

/* lighten map tiles so they aren't as obtrusive - district and comments must stand out */
.leaflet-tile-pane {
  opacity: 0.5;
}

.comment-form {
  width: 300px;
}

textarea {
  font-size: 14pt;
}

/* remove these buttons from the map tools */
.leaflet-draw-draw-circle, .leaflet-draw-draw-polyline, .leaflet-draw-draw-polygon, .leaflet-draw-draw-marker {
  display: none !important;
}

.user-profile-stuff {
  margin-top: 8px;
}

.clearfix {
  clear: both;
}

/* top title and searchbar */
h3.title, form.form-inline {
  display: inline;
}

form.form-inline {
  margin-left: 30px;
}

form.form-inline input.form-control {
  margin-right: 10px;
}

/* we want the comment lines to LOOK clickable, but actually the
click passes to the map, which searches all comment geometries */
path {
  pointer-events: stroke !important;
  cursor: pointer;
}

/* make district border look unclickable */
path[stroke="purple"] {
  pointer-events: none !important;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
