html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 20px;
}

#map {
  height: 80%;
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.comment-form {
  width: 300px;
}

textarea {
  font-size: 14pt;
}

.leaflet-draw-draw-polyline, .leaflet-draw-draw-polygon, .leaflet-draw-draw-marker {
  display: none !important;
}

.leaflet-tile-pane {
  opacity: 0.6;
}

.user-profile-stuff {
  margin-top: 8px;
}

.clearfix {
  clear: both;
}

path[stroke="purple"] {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

h3.title, form.form-inline {
  display: inline;
}

form.form-inline {
  margin-left: 30px;
}

form.form-inline input.form-control {
  margin-right: 10px;
}
